{% extends 'bases/admin_base.html' %}
{% load static %}
{% block title %} Create User {% endblock title %}
{% block main_content %}
    <!-- Main Content -->
    <div class="hk-pg-wrapper">
        <!-- Container -->
        <div class="container-fluid mt-xl-50 mt-sm-30 mt-15">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title mb-30">Create User</h5>

                {#    FORM        #}
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tag }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <div class="col-6 col-md-4">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First name"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <label for="Email" class="mt-10">Email</label>
                            <input type="text" class="form-control" id="Email" placeholder="Email" name="email_address"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <label for="password" class="mt-10">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="password" name="password"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>


                            <div class="custom-control custom-checkbox mt-10">
                                <input type="checkbox" class="custom-control-input" id="send_login" value="send_login">
                                <label class="custom-control-label" for="send_login">Send Login
                                    Details</label>
                                <div class="invalid-feedback"> check this..</div>
                            </div>

                            <label for="roles" class="mt-10 font-15">Roles</label>
                            <div class="row ml-1">
                                {% for role in roles %}
                                    <div class="custom-control custom-radio ml-1">
                                        <input type="radio" class="custom-control-input" id="{{ role.role_name }}"
                                               name="user_role" value="{{ role.role_name }}"
                                               required>
                                        <label class="custom-control-label"
                                               for="{{ role.role_name }}">{{ role.role_name }}</label>
                                        <div class="invalid-feedback"> check this..</div>
                                    </div>
                                {% endfor %}


                            </div>
                        </div>

                        <div class="col-6 col-md-4">

                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                   placeholder="Last name"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <label for="phone_number" class="mt-10">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="phone number"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>


                            <label for="passwordConfirmation" class="mt-10">Password Confirmation</label>
                            <input type="password" class="form-control" id="passwordConfirmation"
                                   placeholder="Confirm password"
                                   value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <label for="picture">Picture</label>
                            <div class="custom-file">
                                <input type="file" name="profile_picture" class="custom-file-input" id="picture" required>
                                <label class="custom-file-label" for="picture">Choose file...</label>
                                <div class="invalid-feedback">Please choose picture</div>
                            </div>
                            <div class="avatar avatar-xl mt-15">
                                <img src="{% static  'img/avatar3.jpg' %}" alt="user" class="avatar-img rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row mt-20 justify-content-end">


                            <button class="btn btn-primary" type="submit">Create User</button>
                            <button class="btn btn-danger ml-10">Cancel</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <!-- /Container -->

    </div>
    <!-- /Main Content -->


{% endblock main_content %}